.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

  // beneath code would only work when max-width <= 1200px
  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
}
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // remember second value stands for f
  // if it's 0 => we don't want the element to shrink if there's not enough space
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;

  //will remove later
  // height: 80rem;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-medium) {
      padding: 3rem;
  }

  // @media only screen and (max-width: $bp-small) {
  //     flex-direction: column;
  // }
}

.description {
  // background-color: blue;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  // flex-grow zero; flex-shrink: zero; have 60% of the available width
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
      padding: 2rem;
      margin-right: 3rem;
  }

  // @media only screen and (max-width: $bp-small) {
  //     margin-right: 0;
  //     margin-bottom: 3rem;
  // }
}

.user-reviews {
  // background-color: green;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}
